*{
  margin: 0;
  padding: 0;
}

.main{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.main h1{
  text-decoration: underline;
}

.date_info {
  width: 170px;  
  font-family: Arial, sans-serif;
  margin-left: 50px;
  margin-top: 10px;
}

.date_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; 
}

.date, .time {
  font-weight: bold;

}

.pstat{
  margin-left: 50px;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}


.Note{
  margin-left: 50px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

.Note2{
  margin-left: 50px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
}

.logo img {
  height: 60px; 
  width: 100px;
}


.search-bar input {
  margin-left: 50px;
  padding: 5px 10px;
  font-size: 16px;
  width: 300px; 
  border-radius: 5px;
}

.menu {
  display: flex;
  justify-content: space-evenly;  
}

.menu a {
  margin-left: 20px;
  color: rgb(62, 62, 62);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.menu a:hover {
  color: #a93339;  
}

.photo{
  display: flex;
  justify-content: space-evenly;
}
.photo img{
  width: 20%;
  height: auto;
  border-radius: 10px;
}


